*.exe
BookKatalogue - Neu/BookKatalogue/bin/Debug/BookKatalogue.exe
BookKatalogue - Neu/BookKatalogue/obj/Debug/BookKatalogue.csproj.FileListAbsolute.txt
BookKatalogue - Neu/BookKatalogue/obj/Debug/BookKatalogue.pdb
*.cache
*.exe
BookKatalogue - Neu/BookKatalogue/bin/Debug/BookKatalogue.pdb
*.Cache
BookKatalogue - Neu/BookKatalogue/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.pdb