*.exe
BookKatalogue - Neu/BookKatalogue/bin/Debug/BookKatalogue.exe
BookKatalogue - Neu/BookKatalogue/obj/Debug/BookKatalogue.csproj.FileListAbsolute.txt
BookKatalogue - Neu/BookKatalogue/obj/Debug/BookKatalogue.pdb
*.cache